@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Orbitron&family=Press+Start+2P&family=Rajdhani:wght@300&family=Syncopate&display=swap');

/* 

RESETS

*/

html body {
    background: #4f5b66;
}

.relative {
    position: relative;
}

.amatic {
    font-family: 'Amatic SC', cursive;
    z-index: 999;
}
.raj {
    font-family: 'Rajdhani', sans-serif;
    z-index: 999;
}
.orb {
    font-family: 'Orbitron', sans-serif;
    z-index: 999;
}
.pstart {
    font-family: 'Press Start 2P', cursive;
    z-index: 999;
}
.sync {
    font-family: 'Syncopate', sans-serif;
    z-index: 999;
}

.card {
    color: #EEE;
    background: #65737e;
    border-color: #000;
}
.card .card-header h5 {
    padding: 0;
    margin: 15px;
    text-transform: uppercase;
}
.card .card-header {
    background: #343d46;
    border-color: #000;
    color: #FFEE99;
}
.card-body p {
    font-size: 0.9rem;
}

a {
    color: #069;
    text-decoration: none;
    font-weight: bold;
}
a:hover,
a:focus {
    color: #fd50af;
    outline: 0;
}

.art-actions .btn {
    opacity: 0.65;
}
.art-actions .btn:hover,
.art-actions .btn:focus {
    opacity: 0.85;
}

.img-block,
.btn-block {
    display: block;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    text-align: center;
}

/* 

HEADER

*/

nav#navigation {
    border-bottom: 3px double #666;
    z-index: 9999999;
}
.navbar-brand b {
    color: #fd50af;
}
.navbar-brand.logo {
    background: url(../img/logo.png);
    height: 40px;
    width: 137px;
    display: inline-block;
    position: relative;
    background-size: cover;
    text-indent: -999em;
}
.navbar-brand.logo-xs {
    color: #FFEE99;
}
nav#navigation.navbar-light {
    background: #343d46 !important;
}
nav#navigation.navbar-light .navbar-nav .nav-link {
    color: #CCC;
    opacity: 0.6;
    text-transform: uppercase;
    font-size: 0.7rem;
    margin-top: 5px;
}
nav#navigation.navbar-light .navbar-nav .nav-link span.badge {
    font-size: 1rem;
    margin: -5px 0 -3px;
}
nav#navigation.navbar-light .navbar-nav .nav-link.active {
    color: #0097a7;
}
nav#navigation.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: #fd50af;
    opacity: 1;
}
nav#navigation.navbar-light .navbar-nav .nav-link.active:hover, .navbar-light .navbar-nav .nav-link.active:focus {
    color: #0097a7;
}
nav#navigation.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.active,
nav#navigation.navbar-light .navbar-nav .nav-link.active:hover, .navbar-light .navbar-nav .nav-link.active:focus {
    opacity: 1;
    color: #FFF;
}
html .navbar-light .navbar-toggler {
    color: #FFEE99;
}

/* 

SUB HEADER

*/

div.section {
    display: block;
    position: relative;
    overflow: hidden;
    padding: 60px 0;
    color: #EEE;
}
div.section.footer a,
div.section.sub-header a {
    color: #FFEE99;
}
div.section.footer a:hover,
div.section.sub-header a:hover {
    color: #FFF;
}
div.section.sub-header img.fold-img {
    margin: -100px 0 -130px -195px;
}
div.section.sub-header {
    border-bottom: 3px double #000;
    padding-top: 120px;
    background: #0097a7;
    color: #FFF;
}
div.section.footer {
    border-top: 3px double #000;
    padding: 20px 0;
    text-align: center;
    background: #0097a7;
    color: #FFF;
}
div.section.sub-header h2 {
    font-size: 2.3rem;
    font-weight: bold;
    line-height: 3rem;
    text-transform: uppercase;
    color: #FFEE99;
}
div.section.sub-header h2 {
    font-weight: normal;
}
div.section.sub-header h2 strong {
    color: #FFF;
    font-weight: bold;
}
div.section.sub-header h2 b {
    font-size: 70% !important;
    font-weight: normal;
}

h1.sync, h2.sync, h3.sync,
h4.sync, h5.sync, h6.sync {
    text-transform: uppercase;
}

/*

SIDEBAR

*/

.list-group .list-group-item-action {
    background: transparent;
    color: #FFF;
    border: none;
    padding: 15px;
}
.list-group .list-group-item-action:hover {
    color: #FFEE99;
}

div.artist {
    display: inline-block;
    position: relative;
    background: url(../img/robot-artist.png) no-repeat;
    background-size: cover;
    width: 612px;
    height: 459px;
    border-bottom: 1px dotted #757575;
    opacity: 0.75;
    margin-bottom: -110px;
    margin-right: -55px;
    z-index: 999;
    float: right;
}

div.section.iframe {
    display: block;
    position: relative;
    width: 100vw;
    height: 100vh;
    border: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    border-top: 3px double #757575;
}

div.section.sub-header h4.orbed {
    opacity: 0.65;
    font-size: 1.4rem;
    padding-right: 550px;
}

div.section .pstart.smaller {
    font-size: 1.2rem;
}

/*

GALLERY

*/

h3.inline, h5.inline,
h4.inline, h6.inline {
    display: inline-block;
    margin-top: -10px;
    line-height: 55px;
}
hr.card-line {
    border-style: dashed;
    margin: -25px 0 15px;
}
#this-nft-canvas {
    visibility: hidden;
}
h5.inline canvas,
h6.inline canvas {
    width: 56px;
    height: 56px;
    margin: -15px 10px -20px 5px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 32px;
    padding: 4px;
    border: 1px solid #555;
}
h5.inline,
h6.inline {
    margin-bottom: 35px;
}

/* 

FRAME 

*/

html body, html, body {
    margin: 0;
    padding: 0;
}
.section.sub-header {
    position: relative;
}
.section.loading:before,
.artistic.loading:before,
.frames canvas.art.loading:before,
.section.sub-header.loading:before,
.section.iframe.loading:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #EEE;
    z-index: 9999;
    width: 100%;
    height: 100%;
}
.section.loading:after,
.artistic.loading:after,
.frames canvas.art.loading:after,
.section.sub-header.loading:after,
.section.iframe.loading:after {
    content: "LOADING";
    font-family: sans-serif;
    text-align: center;
    font-size: 1.2rem;
    color: #757575;
    line-height: 2rem;
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -1rem;
    z-index: 99999;
    background: transparent;
    background-size: 100%;
    animation: none;
    width: 100%;
}
.section.loading:before,
.artistic.loading:before {
    content: "";
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: 0;
    background: #FFF;
    z-index: 9999;
    width: calc(100% + 20px);
    height: calc(100% + 30px);
    box-shadow: none;
}
.artistic.loading:after {
    content: "FETCHING";
}
.frame img {
    min-height: 100%;
    width: auto;
}
canvas.art,
.frame canvas {
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    min-height: 100%;
    min-width: 100%;
}
.section.iframe {
    background-image: linear-gradient(#eee, #aaa);
    height: 100vh;
}

.frame {
    background-color: #ddc;
    border: solid 5vmin #eee;
    border-bottom-color: #fff;
    border-left-color: #eee;
    border-radius: 2px;
    border-right-color: #eee;
    border-top-color: #ddd;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25) inset, 0 5px 10px 5px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    display: inline-block;
    margin: 10vh 10vw;
    height: 80vh;
    padding: 8vmin;
    position: relative;
    text-align: center;
    vertical-align: top;
}
.frame:before {
    border-radius: 2px;
    bottom: -2vmin;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25) inset;
    content: "";
    left: -2vmin;
    position: absolute;
    right: -2vmin;
    top: -2vmin;
}
.frame:after {
    border-radius: 2px;
    bottom: -2.5vmin;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    content: "";
    left: -2.5vmin;
    position: absolute;
    right: -2.5vmin;
    top: -2.5vmin;
}
canvas.art {
    background-color: #ddc;
    border: solid 2vmin #eee;
    border-bottom-color: #fff;
    border-left-color: #eee;
    border-radius: 2px;
    border-right-color: #eee;
    border-top-color: #ddd;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25) inset, 0 5px 10px 5px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    display: block;
    height: 100%;
    width: 100%;
    padding: 4vmin;
    position: relative;
    text-align: center;
    margin-bottom: 15px;
}
canvas.art:before {
    border-radius: 2px;
    bottom: -1vmin;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25) inset;
    content: "";
    left: -1vmin;
    position: absolute;
    right: -1vmin;
    top: -1vmin;
}
canvas.art:after {
    border-radius: 2px;
    bottom: -1.5vmin;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    content: "";
    left: -1.5vmin;
    position: absolute;
    right: -1.5vmin;
    top: -1.5vmin;
}

/*

PANDORA GALLERY

*/
img.pandora-image {
    background-color: #ddc;
    border: solid 15px #eee;
    border-bottom-color: #fff;
    border-left-color: #eee;
    border-radius: 2px;
    border-right-color: #eee;
    border-top-color: #ddd;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25) inset, 0 5px 10px 5px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    display: block;
    height: 100%;
    width: 100%;
    padding: 30px;
    position: relative;
    text-align: center;
    margin-bottom: 15px;
}
img.pandora-image.framed {
    padding: 30px 30px 60px;
}
img.pandora-image:before {
    border-radius: 2px;
    bottom: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25) inset;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
img.pandora-image:after {
    border-radius: 2px;
    bottom: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.pandora-frame {
    display: block;
    position: relative;
    text-align: center;
    padding: 15px;
}
.pandora-frame:after {
    content: attr(data-tag);
    display: inline-block;
    position: absolute;
    bottom: 60px;
    padding: 5px 15px;
    background: #FFF;
    opacity: 0.8;
    border: 1px solid #CCC;
    border-top-color: #AAA;
    border-left-color: #AAA;
    font-size: 11px;
    font-family: monospace;
    text-align: center;
    color: #000;
    margin-left: -30px;
}
.pandora-frame.unknown:after {
    content: "";
    display: none;
}
#random-gallery div.section {
    border-top: 3px double #757575;
    padding: 120px 0;
}

.pandora-avatar canvas {
    max-width: 100%;
    min-width: 100%;
    width: 100%;
}

.pandora-avatar-frame {
    text-align: center;
    display: block;
    position: relative;
    padding: 30px;
}
.pandora-avatar-frame canvas {
    margin-bottom: 10px;
    padding-bottom: 2px;
    box-shadow: 0px 12px 8px -10px #AAA;
}
.pandora-avatar-frame small {
    margin: 15px 0;
}

a:hover img.pandora-image {
    background-color: #ddc !important;
    border-bottom-color: #fff !important;
    border-left-color: #eee !important;
    border-right-color: #eee !important;
    border-top-color: #ddd !important;
}

form.subtle input,
form.subtle button {
    display: inline-block;
    vertical-align: top;
}
form.subtle input {
    width: 69%;
}
form.subtle button {
    width: 29%;
    margin-left: 1%;
}

/*

CARD

*/

.mound {
    align-items: center;
    background: linear-gradient(-45deg, rgba(0,0,0,0.2), rgba(255,255,255,0.2));
    box-shadow: 6px 6px 8px 0 rgba(0, 0, 0, 0.25),
   -4px -4px 6px 0 rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 5px;
    vertical-align: top;
    opacity: 0.85;

    box-sizing: border-box;
    display: inline-block;
    position: absolute;

    right: 10vw;

    margin: 27vh 0;
    height: 46vh;

}
.mounded {
    align-items: center;
    background: linear-gradient(-45deg, rgba(0,0,0,0.2), rgba(255,255,255,0.2));
    box-shadow: 6px 6px 8px 0 rgba(0, 0, 0, 0.25),
   -4px -4px 6px 0 rgba(255, 255, 255, 0.3);
    border-radius: 6px;
    padding: 3px;
    opacity: 0.85;
    display: block;
    position: relative;
    margin: 60px auto 30px;
    height: auto;
    width: 70%;
}
.paper {
    font-family: monospace;
    display: block;
    position: absolute;
    line-height: 25px;
    font-size: 14px;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    border: 3px double #757575;
    padding: 40px;
    background: radial-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.6));
    overflow: auto;
}
.description-art {
    text-align: center;
    font-family: monospace;
    display: block;
    position: relative;
    line-height: 25px;
    font-size: 14px;
    margin: 3px;
    border-radius: 6px;
    border: 3px double #757575;
    padding: 30px 20px 20px;
    background: radial-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.6));
    overflow: auto;
}
.description-art h4.inline {
    font-size: 20px;
}
.fullsize {
    display: block;
    position: absolute;
    top: 70vh;
    left: 10vw;
    right: 10vw;
    height: 25vh;
    margin: 0 0 5vh;
    width: auto;
}
.fullsize .paper {
    text-align: center;
}
html.full body {
    height: 95%;
}
html.full .frame {
    display: block;
    margin: 5vh 20vw;
    height: 60vh;
    padding: 8vmin;
    position: relative;
    text-align: center;
    vertical-align: top;
}

/*

CONTENT

*/

.card-title.artist-name.amatic a hr {
    margin: 45px 0 30px;
}
.card-title.artist-name.amatic a i {
    font-size: 100px;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    line-height: 200px;
    background: #4f5b66;
    border-color: transparent;
    box-shadow: 1px 2px 3px #888;
    margin: 15px;
    color: #0097a7;
}
.card-title.artist-name.amatic a:hover i {
    border: 1px solid #AAA;
    box-shadow: none;
    color: #fd50af;
}

.artist-info .actions {
    text-align: center;
}
.artist-info .actions .btn {
    margin: 15px auto;
    display: inline-block;
    position: relative;
}

.art-cost small,
.artist-cost small {
    font-size: 0.9rem;
    opacity: 0.65;
}
.art-cost b,
.artist-cost b {
    font-size: 2rem;
}

html .modal-dialog {
    margin: 5rem auto 1.75rem;
}

/*

RE-RESETS

*/

.row.frames .col-md-4 {
    margin-bottom: 30px;
}

/*

ANIMATION

*/

.body-landscapes .carousel,
.body-landscapes .carousel-item,
.body-landscapes .carousel-item .section {
    animation-duration: 59s !important;
}

/*

RESPONSIVE

*/

@media(max-width:1399px){
    div.section.sub-header h2 {
        font-size: 2.2rem;
        margin-top: 0;
    }
}

@media(max-width:1999px){
    
}

@media(max-width:1399px){
    div.section.sub-header img.fold-img {
        margin: -100px 0 -130px -95px;
    }
}

@media(max-width:1199px){
    div.section.sub-header h2 {
        font-size: 1.8rem;
        margin-top: 0;
    }
}

@media(max-width:991px){
    div.section.sub-header h2 {
        width: 100%;
        text-align: center;
        margin: 0;
        display: block;
        position: relative;
        font-size: 2.6rem;
        margin: -45px 0 45px;
    }
    nav#navigation .navbar-nav .nav-link {
        text-align: center;
        padding: 2rem;
    }
    .btn-group {
        display: block !important;
    }
    .btn-group .btn-outline-dark {
        flex: none !important;
        margin: 5px;
    }
    #random-gallery .section .container .row.frames > div {
        width: 100%;
    }
    div.section.sub-header img.fold-img {
        margin: -100px 0 -130px -40px;
    }
}
@media(max-width:767px){
    .description-art .row .col-md-6 {
        text-align: center !important;
    }
    div.section.sub-header img.fold-img {
        margin: -100px 0 -130px -140px;
    }
    #navbarNavAltMarkup {
    overflow: auto;
    position: fixed;
    top: 58px;
    left: 0;
    width: 100%;
    height: 100%;
    background: #222;
}
}