/*

RESETS

*/
html, body {
    margin: 0;
    padding: 0;
}

html:before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.5;
    background-image: url(gif/water2.gif);
}

html {
    background-color: #66bbe2;
}
body {
    position: absolute;
    z-index: 1;
    font-family: sans-serif;
    padding-top: 1rem;
    padding-left: 1rem;
    text-align: center;
}

#player-sidebar {
    text-align: center;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 15px;
    width: 270px;
    background: #000;
    color: #AAA;
}
#map-holder {
    display: block;
    position: fixed;
    left: 300px;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 15px 15px 30px;
    background: transparent;
    overflow-y: auto;
    overflow-x: hidden;
}

#world-map {
    display: block;
    position: relative;
	margin: 15px auto 30px;
    vertical-align: top;
	/*clip-path: polygon(0% 50%, 25% 100%, 75% 100%, 100% 50%, 75% 0%, 25% 0%);*/
}

#player-sidebar ul.images {
    margin: 0;
    padding: 0;
    list-style: none;
    vertical-align: top;
}
#player-sidebar ul.images li.item {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 60px;
    margin: 1px;
    text-indent: -999em;
    background-color: #333;
    border: 1px solid #AAA;
    vertical-align: top;
}

#player-sidebar ul.images li.item.dragged {
    background: #000;
}
#player-sidebar ul.images li.item.dragged img.obj {
    display: none;
}

ul.images li.item img.obj {
    position: absolute;
    top: 0;
    display: block;
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
    vertical-align: top;
}


.hex .hexinner {
    background-size: cover;
}

.hex .hexinner.water {
    background-image: url(../img/water_tile_03.png);
}

.hex .hexinner.forest {
    background-image: url(../img/nature_tile_02.png);
}

.hex .hexinner.mountains {
    background-image: url(../img/nature_tile_04.png);
}

.hex .hexinner.hills {
    background-image: url(../img/nature_tile_01.PNG);
}

.hex .hexinner.desert {
    background-image: url(../img/desert_tile_13.png);
}

.hex .hexinner.base {
    background-image: url(../img/nature_tile_18.png);
}

.hex .hexinner .hexcontent,
.hex .hexinner .hexcontent i.token {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: transparent;
}

.hex .hexinner .token:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 70%;
    margin: 15%;
    background-image: url(TabletopBadges/TabletopBadges_slot.PNG);
    background-size: 98% 98%;
    background-position: center;
    opacity: 0.65;
    z-index: 9;
}

.hex .hexinner .token:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 60%;
    margin: 20%;
    background-size: 98% 98%;
    background-position: center;
    opacity: 0.95;
    z-index: 99;
}

.hex .hexinner .token.chest:after {
    background-image: url(TabletopBadges/TabletopBadges_02.PNG);
}
.hex .hexinner .token.boat:after {
    background-image: url(TabletopBadges/TabletopBadges_04.PNG);
}
.hex .hexinner .token.camp:after {
    background-image: url(TabletopBadges/TabletopBadges_12.PNG);
}
.hex .hexinner .token.tower:after {
    background-image: url(TabletopBadges/TabletopBadges_23.PNG);
}
.hex .hexinner .token.tent:after {
    background-image: url(TabletopBadges/TabletopBadges_11.PNG);
}
.hex .hexinner .token.dice:after {
    background-image: url(TabletopBadges/TabletopBadges_50.PNG);
}

.hex .hexinner.water .token:after {
    background-image: url(TabletopBadges/TabletopBadges_04.PNG);
}


.hex .hexinner:hover {
    opacity: 0.75;
    background-color: #000;
}

/*

HEXES

*/

.hexmap {
	box-sizing: border-box;
	display: block;
	position: relative;
    max-width: 100%;
    transform: scale(1);
}
.hexmapinner {
	list-style: none;
	padding: 0px;
	margin: 0px;
    transform-origin: 50% 50%;
	width:100%;
	height:100%;
}
.hex {
	box-sizing: border-box;
	position: absolute;
	background: #333;
	margin: 0;
	z-index: 1;
}
.hex:hover, .hex:focus { z-index: 2; }

.hexinner {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	margin: 1px;
	background: #666;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: white;
	text-decoration: none; 
}
.hexmap.pointy .hex, .hexmap.pointy .hexinner {
	-webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
	clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}
.hexmap.flat .hex, .hexmap.flat .hexinner {
	-webkit-clip-path: polygon(25% 0, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0 50%);
	clip-path: polygon(25% 0, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0 50%);
}

.when-selected { display: none;}
.hex:hover .when-selected, .hex:focus .when-selected { display: block; font-size: 1em;; }
.hex .when-selected .value { font-size: 2em; font-weight: 700; }
.hex:hover .default, .hex:hover .no-hover, .hex:focus .default, .hex:focus .no-hover { display: none; }

