/*

PRIMARY STYLES

*/

:root 
{   
    --sections: 10rem;
    --sections-mobile: 3rem;
    --padded: 3rem;
    --header-rem: 5rem;
    --header: 88px;
    --button-radius: 2rem;
    --border-radius: 3px;
    --button-radius-lg: 3rem;
    --box-shadow: 1px 1px 5px #555555;
    
    --color-bg: #EAEAEA;
    --color-bg-dark: #222831;
    --color-text-dark: #EEEEEE;
    --color-bg-light: #FFFFFF;
    --color-bg-light-border: #DDDDDD;
    --color-shadow: #393E46;
    
    --color-primary: #00ADB5;
    --color-primary-light: #A6E3E9;
    --color-primary-dark: #106b73;
    
    --color-primary: #42ACBD;
    --color-secondary: #BD42AC;
    --color-tri: #ACBD42;
    
    --color-primary-light: #ADDBE2;
    --color-secondary-light: #E2ADDB;
    --color-tri-light: #DBE2AD;
    
    --color-primary-dark: #317F8C;
    --color-secondary-dark: #8C317F;
    --color-tri-dark: #7F8C31;
}

/*

RESETS

*/

html, body,
html body
{
    background: var(--color-bg);
}
html body a
{
    color: var(--color-primary);
    text-decoration: none;
}
html body a:hover
{
    color: var(--color-primary-dark);
}

/*

BOOTSTRAP MODS

*/

html body 
{
    padding-top: var(--header);
}
html body alert.alert
{
    display: block;
    text-align: center;
    border-style: double;
    border-width: 3px;
    padding: var(--padded) calc(var(--padded) / 2);
}
html body .btn
{
    border-style: double;
    border-width: 3px
}
html body .btn.btn-block
{
    display: block !important;
    width: 100% !important;
    text-align: center;
}
html body .img.img-block
{
    display: block;
    text-align: center;
    min-width: 100%;
    max-width: 100%;
    height: auto;
}


/*

ALERTS

*/

html body alert.alert-primary
{
    background: var(--color-primary-light);
    border-color: var(--color-primary);
    box-shadow: var(--box-shadow);
}
html body alert.alert-secondary
{
    background: var(--color-bg-light);
    border-color: var(--color-bg-light-border);
    box-shadow: var(--box-shadow);
}
html body alert.alert-success
{
    background: var(--color-tri-light);
    border-color: var(--color-tri);
    box-shadow: var(--box-shadow);
}
html body alert.alert-danger
{
    background: var(--color-secondary-light);
    border-color: var(--color-secondary);
    box-shadow: var(--box-shadow);
}
html body alert.alert-dark
{
    color: var(--color-tri-light);
}

/*

BUTTONS

*/

html body .btn.btn-primary
{
    background: var(--color-primary);
    border-color: var(--color-primary-dark);
}
html body .btn.btn-primary:hover,
html body .btn.btn-primary:active
{
    background: var(--color-primary-dark);
    border-color: var(--color-primary);
}
html body .btn.btn-secondary
{
    background: var(--color-secondary);
    border-color: var(--color-secondary-dark);
}
html body .btn.btn-secondary:hover,
html body .btn.btn-secondary:active
{
    background: var(--color-secondary-dark);
    border-color: var(--color-secondary);
}
html body .btn.btn-triadic
{
    background: var(--color-tri);
    border-color: var(--color-tri-dark);
}
html body .btn.btn-triadic:hover,
html body .btn.btn-triadic:active
{
    background: var(--color-tri-dark);
    border-color: var(--color-tri);
}
html body .btn.btn-outline-dark
{
    position: relative;
    color: transparent;
}
html body .btn.btn-outline-dark
{
    background: var(--color-bg);
    color: var(--color-primary-dark);
}
html body .btn.btn-outline-dark:hover
{
    background: var(--color-bg-light);
}

html body section .btn
{
    border-radius: var(--button-radius);
}
html body section .btn.lg
{
    border-radius: var(--button-radius-lg);
}
html body .btn
{
    transition: all 0.42s;
    box-shadow: var(--box-shadow);
}
html body .btn:hover
{
    border-style: solid;
    box-shadow: none;
}

/*

NAVBAR

*/

html body .navbar[data-bs-theme="dark"] .navbar-brand.play=regular
{
    margin-top: -3px;
}
html body .navbar[data-bs-theme="dark"] .navbar-brand i
{
    position: relative;
    top: 2px;
}
html body .navbar[data-bs-theme="dark"] .navbar-brand .fa-regular,
html body .navbar[data-bs-theme="dark"] .navbar-brand .fa-solid
{
    color: var(--color-primary-light);
}
html body .navbar[data-bs-theme="dark"] .navbar-brand
{
    color: var(--color-bg-light);
    color: var(--color-tri-light);
}
html body .navbar[data-bs-theme="dark"] .navbar-brand b
{
    color: var(--color-tri-light);
    color: var(--color-bg-light);
}
html body .navbar[data-bs-theme="dark"]
{
    z-index: 9999;
    padding-top: 0;
    padding-bottom: 0;
    line-height: var(--header-rem);
    background: var(--color-secondary-dark) !important;
}
html body .navbar-expand-lg .navbar-nav
{
    width: 100%;
    flex-direction: row-reverse;
}
html body .navbar-expand-lg .navbar-nav .nav-link
{
    color: var(--color-tri-light);
    text-transform: uppercase;
    font-weight: bold;
    padding-left: calc(var(--padded) / 2);
    padding-right: calc(var(--padded) / 2);
    border-left: 1px solid var(--color-secondary-dark);
    border-right: 1px solid var(--color-secondary-dark);
}
html body .navbar-expand-lg .navbar-nav .nav-link.active,
html body .navbar-expand-lg .navbar-nav .nav-link.active:hover,
html body .navbar-expand-lg .navbar-nav .nav-link.show,
html body .navbar-expand-lg .navbar-nav .nav-link.show:hover
{
    color: var(--color-bg-light);
}
html body .navbar-expand-lg .navbar-nav .dropdown:hover .nav-link,
html body .navbar-expand-lg .navbar-nav .nav-link:hover
{
    color: var(--color-bg-light);
    background: var(--color-secondary);
    background: linear-gradient(180deg, var(--color-secondary-dark) 0%, var(--color-secondary) 100%);
    border-color: var(--color-secondary);
}
html body .navbar-expand-lg .navbar-nav .nav-link i
{
    color: var(--color-tri-dark);
}
html body .navbar-expand-lg .navbar-nav .dropdown:hover .nav-link i,
html body .navbar-expand-lg .navbar-nav .dropdown:hover .nav-link.active i,
html body .navbar-expand-lg .navbar-nav .nav-link.active:hover i,
html body .navbar-expand-lg .navbar-nav .nav-link.active i
{
    color: var(--color-tri-light);
}
html body .navbar-expand-lg .navbar-nav .nav-link:hover i
{
    color: var(--color-tri);
}
html body .navbar[data-bs-theme="dark"] .dropdown-menu
{
    transition: all 0.42s;
}
html body .navbar[data-bs-theme="dark"] .dropdown-menu,
html body .navbar[data-bs-theme="dark"] .dropdown-menu[data-bs-popper]
{
    top: calc(100%);
    border-radius: 0 0 0.375rem 0.375rem;
    border-top: 1px solid var(--color-secondary);
    background: var(--color-secondary);
    min-width: 330px;
}
html body .navbar[data-bs-theme="dark"] form.login
{
    opacity: 0.65;
    margin: 26px 0 0 1.8rem;
}
html body .navbar[data-bs-theme="dark"]:hover form
{
    opacity: 0.95;
}

html body .dropdown .dropdown-menu
{
    border: none;
}
.dropdown:hover .dropdown-menu 
{
    display: block;
    margin-top: 0; /* remove the gap so it doesn't close */
}

html body .navbar[data-bs-theme="dark"] .dropdown .dropdown-menu
{
    line-height: calc(var(--header-rem) / 2);
}

html body .navbar[data-bs-theme="dark"] .dropdown .dropdown-menu .dropdown-item:hover
{
    color: var(--color-tri-light);
    background: var(--color-secondary-dark)
}

/*

CARDS

*/

html body .card
{
    border-style: double;
    border-width: 3px;
    box-shadow: var(--box-shadow);
}

html body .card .card-body
{
    padding: calc(var(--padded) / 2);
}

html body .card .card-header
{
    padding: calc(var(--padded) / 2);
    background: var(--color-primary-light);
    font-weight: bold;
}

html body section.dark .card
{
    box-shadow: none;
    border-color: var(--color-bg-dark);
    border-style: solid;
    border-width: 1px;
}
html body section.dark .card .card-header
{
    background: var(--color-primary-dark);
}
html body section.dark .card .card-body,
html body section.dark .card .card-footer
{
    padding: var(--padded);
    background: var(--color-bg-dark);
    color: var(--color-bg);
    transition: all 0.42s;
}
html body section.dark .card img
{
    opacity: 0.85;
    transition: all 0.42s;
    display: block;
    position: relative;
}
html body section.dark .card .img-btn
{
    display: block;
    position: relative;
}
html body section.dark .card .img-btn:before
{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-bg-dark);
    opacity: 0.42;
    z-index: 999;
    transition: all 0.42s;
}
html body section.dark .card:hover .img-btn:before
{
    opacity: 0;
}
html body section.dark .card:hover img
{
    opacity: 1;
}
html body section.dark .card:hover .card-body,
html body section.dark .card:hover .card-footer
{
    background: var(--color-shadow);
}
html body section.dark .card .card-body
{
    transition: all 0.42s;
}
html body section.dark .card .card-body i
{
    transition: all 0.42s;
    color: var(--color-shadow);
}
html body section.dark .card:hover .card-body i
{
    color: var(--color-primary);
}
html body section.dark .card:hover .card-body
{
    color: var(--color-tri-light);
}


/*

MODALS

*/

html body .modal-dialog
{
    background: transparent;
}
html body .modal .modal-content
{
    border-style: double;
    border-width: 3px;
    box-shadow: var(--box-shadow);
    background: transparent;
}
html body .modal .modal-content .modal-body
{
    background: var(--color-bg);
    padding: calc(var(--padded) / 2);
}
html body .offcanvas-backdrop,
html body .modal-backdrop
{
    background-color: var(--color-bg);
    background-image: url(../img/bg-01.gif);
    background-size: 44%;
}
html body .offcanvas-backdrop.show,
html body .modal-backdrop.show
{
    opacity: 0.75;
}
html body .offcanvas .offcanvas-header,
html body .modal .modal-header
{
    color: var(--color-tri-light);
    background: var(--color-secondary-dark);
}
html body .offcanvas .offcanvas-header b,
html body .modal .modal-header b
{
    color: var(--color-bg-light);
}
html body .modal .modal-dialog
{
    margin-top: calc(50vh - 280px);
}

/*

SECTIONS

*/

section
{
    display: block;
    position: relative;
    overflow: hidden;
    padding: var(--sections) 0;
    border-top: 3px double var(--color-bg-dark);
    border-bottom: 3px double var(--color-shadow);
}

section.breakout
{
    overflow: visible;
    z-index: 999;
}
section.negative .container
{
    margin-top: calc(calc(var(--sections) + calc(var(--padded) / 2)) * -1);
    margin-bottom: calc(calc(var(--sections) + calc(var(--padded) / 2)) * -1);
}

section.dark
{
    background: var(--color-bg-dark);
    color: var(--color-text-dark);
}

section.footer
{
    z-index: 9;
    margin-top: -3px;
    padding: calc(var(--padded) / 4) 0;
    border-bottom: none;
}

section .hero-text
{
    z-index: 2;
}
section.dark.fold
{
    margin-top: -3px;
    background: linear-gradient(180deg, var(--color-secondary-dark) 0%, var(--color-bg-dark) 100%);
}
section.dark.fold.page
{
    padding: calc(var(--padded) / 2) 0;
}

section .card p.mb-1
{
    margin: 5px 0 -10px !important;
}
section .card h3.mb-1
{
    margin: 12px 0 0 -5px;
}
section .card .text-body-secondary
{
    margin: 17px 0 0;
}
section .list-group.list-group-padded .list-group-item
{
    padding: calc(var(--padded) / 2);
}

section.dark .list-group .list-group-item b
{
    display: block;
    line-height: 3rem;
}
section.dark .list-group .list-group-item i
{
    color: var(--color-secondary-light);
    font-size: 1.8rem;
    line-height: 3rem;
    margin: 0 5px 0 0;
    vertical-align: sub;
}
section.dark .list-group .list-group-item:first-child
{
    border: none;
}

section .trustpilot
{
    display: inline-block; 
    margin-left: 15px;
}

section.top-brokers
{
    overflow: visible; 
    z-index: 9;
}
section.top-brokers .container
{
    margin-top: -180px; 
    margin-bottom: -180px;
}

section.signup,
section.slideshow
{
    overflow: visible;
}

section.signup .signup-meta
{
    display: block; 
    margin-top: -20px;
}

nav .container,
section .container
{
    position: relative;
}

/*

TABLES

*/

html body table.table
{
    width: 100%;
}
html body table.table.table-lg thead tr th,
html body table.table.table-lg tbody tr th,
html body table.table.table-lg tbody tr td,
html body table.table.table-lg
{
    padding: calc(var(--padded) / 2);
}
html body table.table.table-lg
{
    padding: var(--padded);
}

html body .dtfh-floatingparent,
html body .dtfh-floatingparent-head,
html body .dtfh-floatingparent .dtfh-floatingparent-head
{
    z-index: 9998 !important;
    /*top: calc(var(--padded) * 2) !important;*/
}

html body table .avatar
{
    display: inline-block;
    position: relative;
    height: 22px;
    width: auto;
    margin: -3px 5px 0 0;
}

html body table.data-table thead tr th.sorter
{
    cursor: pointer;  
    vertical-align: middle
}
html body table.data-table thead tr th.sorter:hover
{
    color: var(--color-primary-dark);
}
html body table.data-table thead tr th select
{
    width: 100%;
}
html body table.dataTable thead tr:first-child th .fa-angles-right
{
    display: inline-block;
}
html body table.dataTable thead tr:first-child th .fa-angles-up
{
    display: none;
}
html body table.dataTable thead tr:first-child th .fa-angles-down
{
    display: none;
}
html body table.dataTable thead tr:first-child th.dt-ordering-desc .fa-angles-right
{
    display: none;
}
html body table.dataTable thead tr:first-child th.dt-ordering-desc .fa-angles-up
{
    display: none;
}
html body table.dataTable thead tr:first-child th.dt-ordering-desc .fa-angles-down
{
    display: inline-block;
}
html body table.dataTable thead tr:first-child th.dt-ordering-asc .fa-angles-right
{
    display: none;
}
html body table.dataTable thead tr:first-child th.dt-ordering-asc .fa-angles-up
{
    display: inline-block;
}
html body table.dataTable thead tr:first-child th.dt-ordering-asc .fa-angles-down
{
    display: none;
}
html body table.dataTable thead tr:first-child th
{
    background: linear-gradient(180deg, var(--color-bg-light) -50%, var(--color-primary-light) 300%);
    border-bottom-color: transparent;
}
html body table.dataTable thead tr:nth-child(2) th
{
    background: linear-gradient(180deg, var(--color-primary-light) -200%, var(--color-bg-light) 150%);
    border-top-color: transparent;
}
html body table.dataTable thead tr:first-child th.dt-ordering-desc
{
    background: linear-gradient(180deg, var(--color-bg-light) -50%, var(--color-secondary-light) 300%);
    border-bottom-color: transparent;
}
html body table.dataTable thead tr:first-child th.dt-ordering-asc
{
    background: linear-gradient(180deg, var(--color-bg-light) -50%, var(--color-tri-light) 300%);
    border-bottom-color: transparent;
}
html body table.dataTable thead tr:nth-child(2) th.dt-ordering-desc
{
    background: linear-gradient(180deg, var(--color-secondary-light) -200%, var(--color-bg-light) 150%);
    border-top-color: transparent;
}
html body table.dataTable thead tr:nth-child(2) th.dt-ordering-asc
{
    background: linear-gradient(180deg, var(--color-tri-light) -200%, var(--color-bg-light) 150%);
    border-top-color: transparent;
}
html body table.dataTable tfoot tr th
{
    background: linear-gradient(180deg, var(--color-primary-light) -200%, var(--color-bg-light) 150%);
    padding: calc(var(--padded) / 2);
}
html body table.dataTable thead.table-dark tr th,
html body [data-bs-theme="dark"] table.dataTable thead tr th,
html body [data-bs-theme="dark"] table.dataTable tfoot tr th
{
    background: linear-gradient(180deg, var(--color-primary-dark) -200%, var(--color-shadow) 150%);
}
html body table.dataTable tbody tr.child td ul.dtr-details,
html body table.dataTable tbody tr.child td ul.dtr-details li
{
    display: block;
}
html body table.dataTable tbody tr.child td ul.dtr-details li
{
    border-bottom: 1px dotted var(--color-secondary);
}
html body table.dataTable tbody tr td.dtr-control 
{
    min-width: 218px !important;
}
html body table.dataTable tbody tr td i.fa-regular.fa-star-half-stroke,
html body table.dataTable tbody tr td i.fa-regular.fa-star
{
    color: var(--color-primary-dark);
}
html body table.dataTable tbody tr td i.fa-solid.fa-star
{
    color: var(--color-secondary);
}
html body table.dataTable tbody tr.child td ul.dtr-details li span.dtr-data
{
    float: right;
}
html body table.dataTable tfoot tr th input
{
    min-width: 140px;
}
html body table.dataTable thead tr th span.dt-column-order
{
    display: none;
}
html body table.dataTable thead tr th a.sorter
{
    cursor: pointer;
}
html body .dt-container.dt-bootstrap5 .row mt-2.justify-content-md-center
{
    margin-top: 0 !important;
}
html body .dt-container.dt-bootstrap5 .row.mt-2.justify-content-between
{
    background: var(--color-bg);
    border-radius: var(--border-radius);
    padding: calc(var(--padded) / 2);
    margin: 0 0 calc(var(--padded) / 2) 0 !important;
}
html body .dt-container.dt-bootstrap5 .row.mt-2.justify-content-between:last-child .page-link
{
    padding-top: 0;
    padding-bottom: 0;
    color: var(--color-primary-dark);
}
html body .dt-container.dt-bootstrap5 .row.mt-2.justify-content-between:last-child .active .page-link
{
    background: var(--color-primary-dark);
    color: var(--color-bg-light);
}
html body .dt-container.dt-bootstrap5 .row.mt-2.justify-content-between:last-child
{
    margin: calc(var(--padded) / 2) 0 0 0 !important;
}
html body .dt-container.dt-bootstrap5 .row.mt-2.justify-content-between .col-md-auto.me-auto,
html body .dt-container.dt-bootstrap5 .row.mt-2.justify-content-between .col-md-auto.me-auto div.dt-info,
html body .dt-container.dt-bootstrap5 .row.mt-2.justify-content-between .col-md-auto.me-auto div.dt-search,
html body .dt-container.dt-bootstrap5 .row.mt-2.justify-content-between .col-md-auto.ms-auto,
html body .dt-container.dt-bootstrap5 .row.mt-2.justify-content-between .col-md-auto.ms-auto div.dt-info,
html body .dt-container.dt-bootstrap5 .row.mt-2.justify-content-between .col-md-auto.ms-auto div.dt-search
{
    line-height: var(--padded);
    padding: 0;
    margin: 0;
}

html body [data-bs-theme="dark"] .dt-container.dt-bootstrap5 .row.mt-2.justify-content-between
{
    background: var(--color-shadow);
}

/*

FORMS

*/

.sbp-range
{
    position: relative;
}
.sbp-range output
{
    position: absolute;
    top: 0;
    right: 15px;
}

/*

IMAGES

*/

html body .images-signup
{
    margin: -230px 0;
}
html body .images-fold
{
    z-index: 9;
    display: block;
    position: relative;
    margin: -60px 0 -160px 30px; 
    max-width: 118% !important; 
    width: 118% !important
}

html body .slideshow-01
{
    z-index: 9;
    display: block;
    position: relative;
    margin: -270px 0 -170px 0; 
}

html body .slideshow-02
{
    z-index: 9;
    display: block;
    position: relative;
    margin: -253px 0 -170px -160px;
    width: 177% !important;
    max-width: 177% !important;
}

html body .slideshow-03
{
    z-index: 9;
    display: block;
    position: relative;
    margin: -260px 0 -170px 0; 
}

/*

CAROUSEL

*/

section .carousel .container
{
    padding-left: calc(var(--padded) * 2);
    padding-right: calc(var(--padded) * 2);
}
section .carousel-control-next i,
section .carousel-control-prev i
{
    font-size: 3rem;
    color: var(--color-tri-dark);
    /*margin-top: -33px;*/
}
section .carousel-item
{
    padding-top: 240px;
}
section .carousel-inner
{
    height: 610px;
    margin: -240px 0 -245px;
}
section .carousel-control-next, 
section .carousel-control-prev
{
    z-index: 999;
}

section .carousel-indicators [data-bs-target]
{
    background-color: var(--color-primary);
}

section .carousel-indicators .active[data-bs-target]
{
    background-color: var(--color-secondary);
}

/*

ACCORDION

*/

section .accordion,
section .accordion-item,
section .accordion-button
{
    background: transparent;
}

section .accordion-body
{
    text-align: justify;
}

section .accordion-button:after
{
    background-color: var(--color-tri-dark);
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    background-position: 0.35rem;
}
section .accordion-button
{
    font-size: 1.8rem;
    font-weight: 200;
    color: var(--color-primary);
    padding: calc(var(--padded) / 2);
}

section .accordion-body
{
    color: var(--color-text-dark);
    background: linear-gradient(180deg, var(--color-bg-dark) -100%, var(--color-shadow) 200%);
    padding: var(--padded);
    line-height: 2rem;
    font-size: 1.3rem;
    font-family: sans-serif;
}
section .accordion-item
{
    border-color: var(--color-shadow);
}

section .accordion-button:hover
{
    background: var(--color-shadow);
    color: var(--color-primary-light);
}

section .accordion-button:not(.collapsed)
{
    background: var(--color-shadow);
    color: var(--color-tri-light);
    box-shadow: none;
}

section .accordion-button:not(.collapsed):hover
{
    color: var(--color-bg-light);
}

/*

SPOTLIGHT

*/

.spotlight
{
    z-index: 1; 
    margin-top: -80px;
}
.spotlight:before
{
    content: "";
    display: block;
    position: absolute;
    width: 560px;
    height: 560px;
    border-radius: 280px;
    background: linear-gradient(180deg, var(--color-primary-light) 10%, var(--color-primary-dark) 90%);
    border: 9px solid var(--color-primary-dark);
    z-index: 1;
    margin: -50px 0 0 225px;
    overflow: hidden;
    transition: all 0.42s;
}
section:hover .spotlight:before
{
    opacity: 0;
    width: 260px;
    height: 260px;
    border-radius: 130px;
    margin: 100px 0 0 375px;
}

/*

FOOTER

*/

section.dark .list-group.list-group-flush,
section.dark .list-group.list-group-flush .list-group-item
{
    background: transparent;
    color: var(--color-primary-light);
    border-color: var(--color-shadow);
}
section.dark .list-group.list-group-flush .list-group-item:hover
{
    color: var(--color-primary-dark);
}
section.dark .list-group.list-group-flush .list-group-item.list-group-item-dark,
section.dark .list-group.list-group-flush .list-group-item.list-group-item-dark:hover
{
    cursor: none;
    color: var(--color-tri-light);
}

/*

FONTS

*/

h2, h4, h6,
html body .btn,
html body .card-header,
.play-regular 
{
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1, h3, h5,
.play-bold 
{
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-style: normal;
}

h1
{
    font-size: 2.8rem;
}

.kanit-thin {
  font-family: "Kanit", sans-serif;
  font-weight: 100 !important;
  font-style: normal;
}

.kanit-extralight {
  font-family: "Kanit", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.kanit-bold h2,
.kanit-bold h4,
.kanit-bold h6,
.kanit-light {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.kanit-regular {
  font-family: "Kanit", sans-serif;
  font-weight: 400 !important;
  font-style: normal;
}

.kanit h2,
.kanit h4,
.kanit h6,
.kanit-medium {
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.kanit h1,
.kanit h3,
.kanit h5,
html body .card-header.kanit h4,
.kanit-semibold {
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.kanit-bold h1,
.kanit-bold h3,
.kanit-bold h5,
.kanit-bold {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.kanit-extrabold {
  font-family: "Kanit", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.kanit-black {
  font-family: "Kanit", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.kanit-thin-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.kanit-extralight-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.kanit-light-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.kanit-regular-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.kanit-medium-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.kanit-semibold-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.kanit-bold-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.kanit-extrabold-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.kanit-black-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 900;
  font-style: italic;
}

/*

TYPOGRAPHY

*/

html body h2 b
{
    color: var(--color-secondary);
}

html body .folded h2
{
    font-size: 2.8rem;
}

/*

ICONS

*/

.text-body-secondary i
{
    color: var(--color-secondary);
}

/*

MAPS

*/

.sbp-map .leaflet-popup-content
{
    font-size: 1.4rem;
    padding: calc(var(--padded) / 2);
    text-align: center;
}
.sbp-map .leaflet-popup-content b
{
    color: var(--color-secondary);
}

/*

RESPONSIVE

*/

@media (max-width: 1399px)
{
    html body .navbar-expand-lg .navbar-nav .nav-link i
    {
        display: none;
    }
    html body .navbar-expand-lg .navbar-nav .nav-link
    {
        padding-left: calc(var(--padded) / 3);
        padding-right: calc(var(--padded) / 3);
    }
    html body .images-fold
    {
        margin: 40px 0 -160px 105px;
    }
    html body .spotlight
    {
        margin-left: -75px;
        margin-top: -115px;
    }
    html body .hero-text
    {
        margin-top: -25px;
    }
    html body .hero-text h1
    {
        font-size: 2.4rem;
    }
    html body .hero-text h4
    {
        font-size: 1.4rem;
    }
    html body .hero-text .btn 
    {
        display: block;
        margin-bottom: var(--padded);
    }
    section .trustpilot
    {
        margin-left: 40px;
    }
    html body section.slideshow .carousel-inner .col-xl-5
    {
        margin: 89px 0 0;
    }
    section .carousel-item
    {
        padding-top: 200px;
    }
    section .carousel-inner
    {
        margin: -240px 0 -284px;
    }
    section .card h3.mb-1
    {
        font-size: 1.4rem;
    }
    html body .folded h2
    {
        font-size: 2.4rem;
    }
    html body section.signup .row
    {
        margin-top: -220px;
    }
    html body section.signup .signup-meta
    {
        margin-top: 125px;
        width: 150%;
        margin-left: -50%;
        margin-bottom: -75px;
    }
    html body .images-signup
    {
        width: 80%;
        max-width: 80% !important;
        min-width: 80% !important;
        margin: 0 0 -200px;
    }
}
@media (max-width: 1199px)
{
    html body .navbar[data-bs-theme="dark"] form button small
    {
        display: none;
    }
    html body .images-fold
    {
        margin: 150px 0 -160px 60px;
    }
    .spotlight:before
    {
        width: 360px;
        height: 360px;
        border-radius: 180px;
        margin: 50px 0 0 225px;
    }
    section:hover .spotlight:before
    {
        margin: 100px 0 0 275px;
    }
    section .trustpilot
    {
        margin-left: 18px;
    }
    section .hero-row
    {
        margin-top: -6rem;
    }
    section .carousel-inner
    {
        height: 900px;
    }
    section .carousel-inner
    {
        margin: -188px 0 -173px;
    }
    html body .slideshow-01,
    html body .slideshow-02,
    html body .slideshow-03
    {
        margin: 0;
        width: 111% !important;
        text-align: center;
    }
    section.signup, section.slideshow
    {
        text-align: center;
    }
    section.signup, section.slideshow
    {
        overflow: hidden;
    }
    html body section.signup .row
    {
        flex-direction: column-reverse;
    }
    html body .images-signup
    {
        margin: 30px 0 -230px;
    }
    html body .images-signup
    {
        width: 100%;
        max-width: 100% !important;
        min-width: 100% !important;
        margin: 100px 0 -220px;
    }
    html body section.signup .signup-meta
    {
        width: 100%;
        margin-left: 0;
    }
    section.top-brokers .container
    {
        margin-top: 0;
        margin-bottom: 0;
    }
    section.top-brokers .row.tops .col-xl-6
    {
        text-align: center;
        margin-bottom: var(--padded);
        margin-top: -3rem;
    }
    section.top-brokers .row.tops .col-xl-5
    {
        margin-bottom: calc(var(--padded) * 2);
    }
    section.top-brokers .row.tops
    {
        flex-direction: column-reverse;
        margin-top: -150px;
    }
    html body .hero-text
    {
        margin-top: -40px;
    }
    html body .page .hero-text
    {
        margin-top: -25px;
    }
    html body section.page .hero-row
    {
        margin-top: 0;
    }
}
@media (max-width: 991px)
{
    html body section.dark.fold
    {
        margin-top: -4px;
    }
    html body .navbar-expand-lg .navbar-nav .nav-link
    {
        padding: calc(var(--padded) / 2) 0;
    }
    html body .navbar-expand-lg .navbar-nav
    {
        flex-direction: column-reverse;
        text-align: center;
    }
    html body .offcanvas.offcanvas-start
    {
        width: 100%;
    }
    html body section
    {
        padding-top: var(--sections-mobile);
        padding-bottom: var(--sections-mobile);
    }
    html body section.page
    {
        padding-top: var(--sections);
        padding-bottom: var(--sections);
    }
    .fold h1
    {
        font-size: 200%;
    }
    section .hero-row
    {
        text-align: center;
        margin-bottom: var(--padded);
        padding-left: calc(var(--padded) / 3);
        padding-right: calc(var(--padded) / 3);
    }
    section.page .hero-row
    {
        margin-bottom: 0;
    }
    section .spotlight
    {
        display: none;
    }
    section .hover-grid .card
    {
        margin-bottom: var(--padded);
    }
    html body .navbar[data-bs-theme="dark"]
    {
        min-height: var(--header);
        max-height: 100vh;
        overflow: auto;
    }
    html body .navbar[data-bs-theme="dark"] .nav-link,
    html body .navbar[data-bs-theme="dark"] .dropdown
    {
        line-height: 1.4rem;
    }
    html body .navbar-expand-lg .navbar-nav .nav-link
    {

    }
    html body .navbar[data-bs-theme="dark"] .dropdown .dropdown-toggle
    {
        cursor: default;
    }
    html body .navbar[data-bs-theme="dark"] .dropdown .dropdown-toggle::after
    {
        display: none;
    }
    html body .navbar[data-bs-theme="dark"] .dropdown .dropdown-menu
    {
        display: block;
    }
    html body .navbar-expand-lg .navbar-nav .nav-link i,
    html body .navbar[data-bs-theme="dark"] form button small
    {
        display: inline-block;
    }
    html body .navbar-expand-lg .navbar-nav .dropdown:hover .nav-link, 
    html body .navbar-expand-lg .navbar-nav .nav-link:hover
    {
        background: var(--color-secondary);
    }
    html body .navbar[data-bs-theme="dark"] .dropdown .dropdown-toggle,
    html body .navbar[data-bs-theme="dark"] .dropdown:hover .dropdown-toggle,
    html body .navbar[data-bs-theme="dark"] .dropdown .dropdown-toggle:hover,
    html body .navbar[data-bs-theme="dark"] .dropdown-menu, 
    html body .navbar[data-bs-theme="dark"] .dropdown-menu[data-bs-popper]
    {
        background: var(--color-secondary-dark);
        border-color: transparent;
        text-align: center;
    }
    html body .navbar-toggler,
    html body .navbar[data-bs-theme="dark"] .navbar-brand
    {
        position: fixed;
        top: 0;
        z-index: 9999999;
    }
    html body .navbar-toggler
    {
        position: fixed;
        right: calc(calc(100% - 720px) / 2);
        top: 24px;
    }
    html body .navbar-expand-lg .navbar-nav
    {
        padding-top: calc(var(--padded) * 2);
    }
    html body .navbar-expand-lg .navbar-nav:before
    {
        content: "";
        display: block;
        position: fixed;
        background: var(--color-secondary-dark);
        top: 0;
        left: 0;
        height: calc(var(--padded) * 2);
        width: 100vw;
        z-index: 999999;
    }
    html body .navbar[data-bs-theme="dark"] .dropdown .dropdown-menu .dropdown-item:hover
    {
        background: var(--color-secondary);
    }
    html body .navbar-expand-lg .navbar-nav
    {
        flex-direction: column;
    }
    html body .navbar-expand-lg .navbar-nav form.login
    {
        display: none;
    }
    html body .navbar[data-bs-theme="dark"] .dropdown .dropdown-menu
    {
        padding-bottom: var(--padded);
    }
    html body section.footer .text-centre,
    html body section.footer .text-end,
    html body section.footer
    {
        text-align: center !important;
    }
    html body section.footer .col-lg-4
    {
        padding-bottom: var(--padded);
    }
    html body .images-signup
    {
        width: 100%;
        max-width: 100% !important;
        min-width: 100% !important;
        margin: 100px 0 -220px;
    }
    html body section.signup .row
    {
        margin-top: var(--padded);
    }
    html body .images-signup
    {
        margin: 100px 0 -100px;
    }
    html body section.top-brokers .card .list-group.list-group-padded .list-group-item .img-block
    {
        width: 60%;
        max-width: 60% !important;
        min-width: 60% !important;
        margin-left: 20%;
        margin-top: calc(var(--padded) / 2);
        margin-bottom: calc(var(--padded) / 2);
        border: none;
    }
    section .trustpilot
    {
        margin-left: 0;
    }
    section .carousel-inner
    {
        height: 750px;
    }
    section.top-brokers .row.tops
    {
        margin-top: -50px;
    }
}
@media (max-width: 767px)
{
    section .hero-row
    {
        text-align: center;
        margin-bottom: var(--padded);
        padding-left: calc(var(--padded) / 2);
        padding-right: calc(var(--padded) / 2);
    }
    section.top-brokers .row.tops .col-xl-6
    {
        margin-top: -6rem;
    }
    html body .hero-text h1
    {
        font-size: 2.1rem;
    }
    html body .navbar-toggler
    {
        right: calc(calc(100% - 540px) / 2);
    }
    html body section alert
    {
        padding-left: 0;
        padding-right: 0;
    }
    section .accordion-body
    {
        padding-left: calc(var(--padded) / 2);
        padding-right: calc(var(--padded) / 2);
    }
    html body section.faq .accordion-item .accordion-header .accordion-button
    {
        font-size: 1.4rem;
    }
    section .accordion-body
    {
        font-size: 1rem;
    }
    html body .modal .modal-dialog
    {
        margin-top: 10px;
    }
    html body section.dark.folded alert.alert
    {
        margin-bottom: 0 !important;
    }
    html body section.tools .col
}
@media (max-width: 565px)
{
    html body .navbar-toggler
    {
        right: 18px;
    }
    section.negative.breakout,
    section.negative.breakout .container
    {
        overflow: hidden
    }
    section.negative.breakout .container,
    section.negative.breakout .card .card-body,
    section.negative.breakout .card
    {
        padding-left: 0;
        padding-right: 0;
        margin: 0;
    }
    html body section.page.negative.breakout
    {
        padding-top: 0;
        padding-bottom: 0;
    }
    html body .dt-container.dt-bootstrap5 .row.mt-2.justify-content-between
    {
        padding-top: var(--padded);
        background: var(--color-bg-light);
    }
    html body section.negative.breakout .card .card-body
    {
        padding: 0;
    }
    html body .dt-container.dt-bootstrap5 .row.mt-2.justify-content-between input.form-control
    {
        background: var(--color-bg);
    }
    html body table.dataTable tbody tr td.dtr-control 
    {
        font-size: 0.9rem;
    }
}

@media (max-height: 560px)
{
    html body .modal .modal-dialog
    {
        margin-top: 1rem;
    }
}