/*

PRIMARY STYLES

*/

:root 
{   
    --sections: 10rem;
    --sections-mobile: 3rem;
    --padded: 3rem;
    --header: 55px;
    --border-radius: 5px;
    --box-shadow: 1px 1px 5px #555555;
    
    --color-bg: #EAEAEA;
    --color-bg-dark: #222831;
    --color-text-dark: #EEEEEE;
    --color-bg-light: #FFFFFF;
    --color-bg-light-border: #DDDDDD;
    --color-shadow: #393E46;
    
    --color-primary: #00ADB5;
    --color-primary-light: #A6E3E9;
    --color-primary-dark: #106b73;
    
    --color-primary: #42ACBD;
    --color-secondary: #BD42AC;
    --color-tri: #ACBD42;
    
    --color-primary-light: #ADDBE2;
    --color-secondary-light: #E2ADDB;
    --color-tri-light: #DBE2AD;
    
    --color-primary-dark: #317F8C;
    --color-secondary-dark: #8C317F;
    --color-tri-dark: #7F8C31;
}

/*

RESETS

*/

html, body,
html body
{
    background: var(--color-bg);
}
html body a
{
    color: var(--color-primary);
    text-decoration: none;
}
html body a:hover
{
    color: var(--color-primary-dark);
}

/*

BOOTSTRAP MODS

*/

html body 
{
    padding-top: var(--header);
}
html body alert.alert
{
    display: block;
    text-align: center;
    border-style: double;
    border-width: 3px;
    padding: var(--padded) calc(var(--padded) / 2);
}
html body .btn
{
    border-style: double;
    border-width: 3px
}
html body .btn.btn-block
{
    display: block;
    text-align: center;
}

/*

ALERTS

*/

html body alert.alert-primary
{
    background: var(--color-primary-light);
    border-color: var(--color-primary);
    box-shadow: var(--box-shadow);
}
html body alert.alert-secondary
{
    background: var(--color-bg-light);
    border-color: var(--color-bg-light-border);
    box-shadow: var(--box-shadow);
}
html body alert.alert-success
{
    background: var(--color-tri-light);
    border-color: var(--color-tri);
    box-shadow: var(--box-shadow);
}
html body alert.alert-danger
{
    background: var(--color-secondary-light);
    border-color: var(--color-secondary);
    box-shadow: var(--box-shadow);
}

/*

BUTTONS

*/

html body .btn.btn-primary
{
    background: var(--color-primary);
    border-color: var(--color-primary-dark);
}
html body .btn.btn-primary:hover,
html body .btn.btn-primary:active
{
    background: var(--color-primary-dark);
    border-color: var(--color-primary);
}
html body .btn.btn-secondary
{
    background: var(--color-secondary);
    border-color: var(--color-secondary-dark);
}
html body .btn.btn-secondary:hover,
html body .btn.btn-secondary:active
{
    background: var(--color-secondary-dark);
    border-color: var(--color-secondary);
}
html body .btn.btn-triadic
{
    background: var(--color-tri);
    border-color: var(--color-tri-dark);
}
html body .btn.btn-triadic:hover,
html body .btn.btn-triadic:active
{
    background: var(--color-tri-dark);
    border-color: var(--color-tri);
}
html body .btn.btn-outline-dark
{
    position: relative;
    color: transparent;
}
html body .btn.btn-outline-dark
{
    background: var(--color-bg);
    color: var(--color-primary-dark);
}
html body .btn.btn-outline-dark:hover
{
    background: var(--color-bg-light);
}

/*

NAVBAR

*/

html body .navbar[data-bs-theme="dark"] .navbar-brand i
{
    position: relative;
    top: 2px;
}
html body .navbar[data-bs-theme="dark"] .navbar-brand .fa-regular,
html body .navbar[data-bs-theme="dark"] .navbar-brand .fa-solid
{
    color: var(--color-primary-light);
}
html body .navbar[data-bs-theme="dark"] .navbar-brand
{
    color: var(--color-bg-light);
    color: var(--color-tri-light);
}
html body .navbar[data-bs-theme="dark"] .navbar-brand b
{
    color: var(--color-tri-light);
    color: var(--color-bg-light);
}
html body .navbar[data-bs-theme="dark"]
{
    background: var(--color-primary-dark) !important;
}
html body .navbar-expand-lg .navbar-nav
{
    width: 100%;
    flex-direction: row-reverse;
}
html body .navbar-expand-lg .navbar-nav .nav-link
{
    color: var(--color-tri-light);
}
html body .navbar-expand-lg .navbar-nav .nav-link.active,
html body .navbar-expand-lg .navbar-nav .nav-link.active:hover,
html body .navbar-expand-lg .navbar-nav .nav-link.show,
html body .navbar-expand-lg .navbar-nav .nav-link.show:hover
{
    color: var(--color-bg-light);
    font-weight: bold;
}
html body .navbar-expand-lg .navbar-nav .nav-link:hover
{
    color: var(--color-bg-light);
}

/*

CARDS

*/

html body .card
{
    border-style: double;
    border-width: 3px;
    box-shadow: var(--box-shadow);
}

html body .card .card-body
{
    padding: calc(var(--padded) / 2);
}

html body .card .card-header
{
    padding: calc(var(--padded) / 2);
    background: var(--color-primary-light);
    font-weight: bold;
}

/*

MODALS

*/

html body .modal .modal-content
{
    border-style: double;
    border-width: 3px;
    box-shadow: var(--box-shadow);
}
html body .offcanvas-backdrop,
html body .modal-backdrop
{
    background-color: var(--color-bg);
}
html body .offcanvas-backdrop.show,
html body .modal-backdrop.show
{
    opacity: 0.85;
}
html body .offcanvas .offcanvas-header,
html body .modal .modal-header
{
    color: var(--color-bg-light);
    background: var(--color-primary);
}

/*

SECTIONS

*/

section
{
    display: block;
    position: relative;
    padding: var(--sections) 0;
    border-top: 3px double var(--color-primary);
    border-bottom: 3px double var(--color-tri);
    margin-top: 1px;
}

section.dark
{
    background: var(--color-bg-dark);
    color: var(--color-text-dark);
}

section.footer
{
    padding: calc(var(--padded) / 4) 0;
    border-bottom: none;
}

section.dark.fold
{
    background: linear-gradient(180deg, var(--color-bg-dark) 0%, var(--color-shadow) 100%);
}

/*

FONTS

*/

h2, h4, h6,
html body .btn,
html body .card-header,
.play-regular 
{
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1, h3, h5,
.play-bold 
{
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.kanit-thin {
  font-family: "Kanit", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.kanit-extralight {
  font-family: "Kanit", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.kanit-light {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.kanit-regular {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.kanit-medium {
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.kanit-semibold {
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.kanit-bold {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.kanit-extrabold {
  font-family: "Kanit", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.kanit-black {
  font-family: "Kanit", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.kanit-thin-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.kanit-extralight-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.kanit-light-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.kanit-regular-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.kanit-medium-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.kanit-semibold-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.kanit-bold-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.kanit-extrabold-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.kanit-black-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 900;
  font-style: italic;
}

/*

RESPONSIVE

*/

@media (max-width: 991px)
{
    html body .navbar-expand-lg .navbar-nav .nav-link
    {
        padding: calc(var(--padded) / 2) 0;
    }
    html body .navbar-expand-lg .navbar-nav
    {
        flex-direction: column-reverse;
        text-align: center;
    }
    html body .offcanvas.offcanvas-start
    {
        width: 100%;
    }
    html body section
    {
        padding-top: var(--sections-mobile);
        padding-bottom: var(--sections-mobile);
    }
    .fold h1
    {
        font-size: 200%;
    }
}