@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Orbitron&family=Press+Start+2P&family=Rajdhani:wght@300&display=swap');

/* 

RESETS

*/

.amatic {
    font-family: 'Amatic SC', cursive;
    z-index: 999;
}
.raj {
    font-family: 'Rajdhani', sans-serif;
    z-index: 999;
}
.orb {
    font-family: 'Orbitron', sans-serif;
    z-index: 999;
}
.pstart {
    font-family: 'Press Start 2P', cursive;
    z-index: 999;
}

.card-body p {
    font-size: 0.9rem;
}

/* 

HEADER

*/

nav#navigation {
    border-bottom: 3px double #757575;
}
.navbar-brand b {
    color: #fd50af;
}

/* 

SUB HEADER

*/

div.section {
    display: block;
    position: relative;
    overflow: hidden;
    padding: 60px 0;
    color: #757575;
}
div.section.sub-header {
    border-bottom: 3px double #757575;
    padding-top: 120px;
}
div.section.sub-header h2 {
    font-size: 3rem;
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -4rem;
    color: #333;
    font-weight: bold;
}
div.section.sub-header h4 {
    font-size: 2.3rem;
    display: block;
    position: absolute;
    top: 50%;
    margin-top: 0;
    color: #555;
}
div.section.sub-header:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(#eeeeee, #ffffff);
    z-index: 9;
}
div.section.sub-header:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    opacity: 0.35;
    z-index: 99;
}
div.artist {
    display: inline-block;
    position: relative;
    background: url(../img/robot-artist.png) no-repeat;
    background-size: cover;
    width: 612px;
    height: 459px;
    border-bottom: 1px dotted #757575;
    opacity: 0.75;
    margin-bottom: -110px;
    margin-right: -55px;
    z-index: 999;
    float: right;
}

iframe.iframe {
    display: block;
    position: relative;
    width: 100vw;
    height: 100vh;
    border: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    border-top: 3px double #757575;
}

/*

ANIMATION

*/

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/*

RESPONSIVE

*/

@media(max-width:1399px){
    div.section.sub-header h2 {
        font-size: 2.5rem;
        margin-top: -3rem;
    }
    div.section.sub-header h4 {
        font-size: 1.9rem;
    }
}

@media(max-width:1999px){
    
}

@media(max-width:1199px){
    div.artist {
        transform: scale(0.65, 0.65);
        margin-right: -135px;
        margin-bottom: -165px;
        margin-top: -60px;
    }
}

@media(max-width:991px){
    div.section.sub-header h2,
    div.section.sub-header h4 {
        width: 100%;
        text-align: center;
        margin: 0;
        display: block;
        position: relative;
    }
    div.section.sub-header h2 {
        margin-top: 30px;
    }
    div.artist {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}